/web/bundles/
/app/cache/*
/app/logs/*
/app/var/*
/build/
/vendor/
/bin/
/composer.phar
app/config/parameters.yml
.idea
tests/_support/_generated
tests/_support/*Tester.php
tests/_output/*
app/bootstrap.php.cache
web/css
web/js
web/*.png
web/*.html
npm-debug.log
