/web/bundles/
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
app/config/parameters.yml
.idea
tests/_support/_generated
tests/_support/*Tester.php
tests/_output/*
tests/_data/*
tests/_envs/*
app/bootstrap.php.cache