/web/bundles/
/app/cache/*
/app/logs/*
/app/var/*
/build/
/vendor/
/bin/
app/config/parameters.yml
.idea
tests/_support/_generated
tests/_support/*Tester.php
tests/_output/*
app/bootstrap.php.cache
/web
!/web/.htaccess
!/web/app.php
!/web/app_dev.php
!/web/app_test.php
!/web/robots.txt
npm-debug.log
client/npm-debug.log
