#header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  justify-content: space-between;
}

#header h1 {
  text-align: center;
  color: $light-grey;
  text-shadow: 2px 2px 0 $dark-grey;
  margin: 0;
  line-height: 70px;
}

#header .navigation {
  align-self: flex-end;
  margin: 0 10px 0 0;
  line-height: 70px;
}
