#Header {
  z-index: 9;
  height: 56px;
}

#Header .logo h1 {
  font-size: 1rem;
  display: inline-block;
  margin-bottom: 0;
}

#Header .logo span {
  transform: translateY(3px);
  display: inline-block;
}

#Header .logo img {
  height: 30px;
  display: inline-block;
}
