parameters:
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt
    jwt_key_pass_phrase:  ThisPassPhraseIsNotSoSecretChangeIt
    google_application_name: x-map
    google_developer_key: '225705573373-2q29jr53tpacq5ri1k8qqggshsb3i27u.apps.googleusercontent.com'
