#userProfiles img {
  width: 100px;
  border-radius: 50%;
}

#userProfiles ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#userProfiles ul li {
  margin-bottom: 20px;
}

#userProfiles ul li a {
  display: block;
}
