/*This file contains all styles related to the panels of the site/application.*/
.page {
  min-width: 500px;
  width: 40%;
  max-height: calc(100% - 110px);
  position: fixed !important;
  top: 70px;
  right: 10px;
  z-index: 2;
  overflow-x: hidden;
  overflow-y: auto;
}


/* media */
.page .media {
  margin-bottom: 0;
}

.page .media:hover {
  text-decoration: none;
}

.page .media img {
  width: 50px;
}

.page .media-body *:last-child {
  margin-bottom: 0;
}


/* accordion */
.page .accordion .panel-title {
  cursor: pointer;
  margin-bottom: 0;
}

.page .accordion .panel-title:hover {
  text-decoration: underline;
}

.page .accordion .panel-collapse {
  margin-top: 20px;
  margin-bottom: 10px;
}

.page .accordion .input-group-addon {
  margin-bottom: 0;
  line-height: 1.55rem;
}

.page .accordion .form-control {
  overflow-x: auto;
}

.page .accordion .list-group-item {
  padding-right: 0;
  padding-left: 0;
}

.page .accordion .input-group-addon {
  width: 30%;
  text-align: right;
  white-space: initial;
  word-wrap: break-word;
}
