/*This file contains all styles related to the panels of the site/application.*/
.panel {
  width: 400px;
  max-height: calc(100% - 110px);
  position: fixed;
  top: 80px;
  right: 10px;
  z-index: 2;
  background-color: rgba(0, 0, 0, .65);
  color: #fff;
  border-radius: 5px;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel .panel {
  position: initial;
}

.panel.hidden {
  display: none;
}

.panel article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.panel article > * {
  width: 100%;
  max-width: 100%;
}

.panel article > header,
.panel article > section {
}

.panel article > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.panel article > header > *,
.panel article > section > *,
.panel article > footer > * {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  max-width: calc(100% - 40px);
}

.panel article > header > *:first-child,
.panel article > section > *:first-child {
  margin-top: 20px;
}

.panel article > header > *:last-child,
.panel article > section > *:last-child {
  margin-bottom: 40px;
}