/*This file contains all styles related to the panels of the site/application.*/
.panel {
  width: 400px;
  max-height: calc(100% - 110px);
  position: fixed;
  top: 80px;
  right: 10px;
  z-index: 2;
  background-color: rgba(0, 0, 0, .65);
  color: #fff;
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
}

.panel .panel {
  position: initial;
}

.panel.hidden {
  display: none;
}

.panel article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.panel article > * {
  width: 100%;
  max-width: 100%;
}

.panel article > header,
.panel article > section {
}

.panel article > section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.panel article > header > *,
.panel article > section > *,
.panel article > footer > * {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0;
  margin-bottom: 20px;
  max-width: calc(100% - 40px);
}

.panel article > header > *:first-child,
.panel article > section > *:first-child {
  margin-top: 20px;
}

.panel article > section > *:last-child {
  margin-bottom: 40px;
}


$size: 500px;
.panel.panel-homescreen {
  width: $size;
  height: $size;
  position: fixed;
  top: calc(50% - ($size / 2));
  left: calc(50% - ($size / 2));
  z-index: 2;
  background-image: url(../img/shinyworldglobe.png);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.55);
  padding-top: 20px;
  padding-bottom: 20px;
}

.panel.panel-homescreen p,
.panel.panel-homescreen h1,
.panel.panel-homescreen h2 {
  display: block;
  text-align: center;
  width: 100%;
}

.panel.panel-homescreen #g-signin2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: auto;
}
