.alert {
  border: 1px dotted $light-brand-color;
  padding: 1rem;
  width: 100%;
  margin-bottom: 10px;
}

.error {
  color: $brand-color;
}

.alert.error:hover {
  color: $brand-color;
  border: 1px dotted $brand-color;
  background: rgba(0, 0, 0, 0.3);
}
