table {
  overflow: hidden;
  width: 100%;
  overflow-x: auto;
  display: block;
}

td,
th {
  width: 400px;
  border-bottom: 1px solid $light-grey;
  padding: 5px;
}

th {
  text-align: left;
}

tr:hover,
td:hover {
  background: rgba(255, 255, 255, .8);
}

tr:hover,
td:hover,
tr:hover a,
td:hover a {
  color: $dark-grey;
}
